* {
    font-family: sans-serif;
}

#context {
    position: absolute;
    pointer-events: none;
    top: 85px;
    left: 83px;
    transition: 500ms ease all;
}

#myMap {
    position: absolute;
    width: 200px;
    height: 800px;
    border: 0px solid #333;
    left: 30px;
    top: 0px;
}

#title {
    position: absolute;
    left: 265px;
    top: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 200;
    color: #777;
}
